* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

@font-face {
    font-family: Stengazeta;
    src: url("../fonts/Stengazeta-Regular.ttf");
}

body {
    background: #2e3132;
    font-family: sans-serif;
}

.header {
    /*background: #5AAE18;*/
    background: #6ba452;
}

.login {
    background: #6ba452;
    border: none;
    cursor: pointer;
        margin: 0 10px 45px 0;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

svg {
    text-align: center;
    width: 300px;
}

.container__index2 {
    background: #2e3132;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 94%;
    padding: 15px 0;
}

.calendar {
    background: #e19133;
    border-radius: 30px;
    padding: 0 20px 0 0;
}

.month_and_year {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.button {
    padding: 0 5px;
}

.days-of-week-container,
.calendar-container {
    display: grid;
    gap: 0 2rem;
    text-align: right;
    justify-content: center;
}

.days-of-week-container,
.calendar-container {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: repeat(7, 0.5rem);
    text-align: center;
    color: rgba(0, 0, 0, 1);

}

.days-of-week-container {
    margin-bottom: 15px;
    /*font-weight: 600;*/
}


.calendar-container div:hover {
    background-color: #fc0000;
    color: rgba(0, 0, 0, 0.76);
    cursor: pointer;

}

.calendar-container div {
    position: relative;
    background: #bfbfbf;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.calendar-data {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0 5px;
    font-size: 11px;
}

.span {
    width: 20px;
    height: 15px;
    border-radius: 8px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    background: #f0cf60;
    font-size: 8px;
    color: black;
    padding-top: 3px;
}

.span-order {
    width: 60px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
   padding-top: 8px;
}

.data {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background: #bfbfbf;
    color: black;
    margin: 0 auto;
    position: relative;
}

.data-order {
    color: black;
    width: 100%;
    padding: 15px 0 0 15px;
    font-size: 38px;
}

.btn {
    padding: 15px 90px;
    border-radius: 50px;
    background: #bfbfbf;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    margin: 15px 8px;
    display: block;
     outline-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    outline-style: none;
}

a:hover {
    /* Цвет при наведении */
    color: black;
}

a:visited {
    /* Цвет посещённой ссылки */
    color: black;
}

a:active {
    /* Цвет ссылки при клике */
    color: black;
}

.nav {
    padding: 25px 0;
    max-width: 300px;
}

.info {
    border-radius: 30px;
    background: #e19133;
    text-align: center;
    font-weight: 500;
    padding: 25px 0;
}

.info h4 {
    margin-bottom: 20px;
}

.menu {
    text-align: center;
    margin-bottom: 40px;
}

.admin {
    padding: 15px 30px 15px;
    background: red;
    color: black;
}

.color {
     background: #e19133;
}