* {
    box-sizing: border-box;
}

body {
    background: #2e3132;
    font-family: sans-serif;
}

/*.container {*/
/*    margin: 0 auto;*/
/*    width: 75%;*/
/*}*/

.container__index2 {
    background: #2e3132;
    margin: 0 auto;
}

/*!* месяцы и годы *!*/
/*#month-calendar{*/
/*    border-radius: 90px;*/
/*    background: #e19133;*/

/*}*/

/*.month{*/
/*    margin: 0;*/
/*    padding: 3rem 2rem 2rem;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: #ffffff;*/
/*    list-style: none;*/
/*}*/

/*.month li{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-size: 1.5rem;*/
/*    line-height: 1.4;*/
/*    letter-spacing: 0.1rem;*/
/*    text-transform: capitalize;*/
/*    font-weight: 500;*/
/*    color: black;*/
/*}*/

/*.month li.prev,*/
/*.month li.next{*/
/*    cursor: pointer;*/
/*}*/

/*.month li.prev{*/
/*    float: left;*/
/*}*/

/*.month li.next{*/
/*    float: right;*/
/*}*/

/*.month li.year-name{*/
/*    font-size: 1.2rem;*/
/*    font-weight: 400;*/
/*}*/

/*!* дни недели *!*/
/*.weekdays{*/
/*    margin: 0;*/
/*    padding: 1rem 0;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: left;*/
/*    text-transform: uppercase;*/
/*}*/

/*.weekdays li{*/
/*    display: inline-block;*/
/*    flex: 0 0 calc(100% / 7);*/
/*    text-align: center;*/
/*}*/

/*!* дни *!*/
/*.days{*/
/*    margin: 0 auto;*/
/*    padding: 0 1rem;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-content: flex-start;*/
/*    !*height: 15rem;*!*/
/*    text-decoration: none;*/
/*}*/

/*.days div {*/
/*width: 150px;*/
/*    position: relative;*/
/*}*/

/*.day {*/
/*    padding: 0.5rem;*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*    flex: 0 0 calc(100% / 7);*/
/*    text-align: center;*/
/*    color: #000000;*/
/*    font-size: 0.9rem;*/
/*    line-height: 1rem;*/
/*    border-radius: 10px;*/
/*    border: 3px solid #e19133;*/
/*    background: #c4c3c3;*/

/*    cursor: pointer;*/
/*}*/

/*.days li.date-now{*/
/*    color: #ffffff;*/
/*    font-weight: 700;*/
/*    !*position: relative;*!*/
/*}*/

/*!*a {*!*/
/*!*    width: 50px;*!*/
/*!*    background: #d9d9d9;*!*/
/*!*}*!*/

/*.count {*/
/*    !*display: none;*!*/
/*    position: absolute;*/
/*    right: -3px; bottom: -3px;*/
/*    !*left: calc(50% - 100px);*!*/
/*    !*bottom: calc(50% + 55px);*!*/
/*    background: #f0cf60;*/
/*    color: black;*/
/*    padding: 0.35rem;*/
/*    border-radius: 10px;*/
/*    z-index: 1;*/
/*}*/

/*.days .day:hover {*/
/*    background: red;*/
/*}*/

.container {
    margin: 0 auto;
    width: 63%;
    padding: 30px 0;

}

.calendar {
    background: #e19133;
    margin-bottom: 15px;
    border-radius: 30px;
}

.month_and_year {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.days-of-week-container,
.calendar-container {
    display: grid;
    gap: 0 15px;
    text-align: right;
    justify-content: center;
}

.days-of-week-container,
.calendar-container {
    display: grid;
    gap: 0 3rem;
    grid-template-columns: repeat(7, 4rem);
    text-align: center;
    color: rgba(0, 0, 0, 0.59);
    /*background: #f0cf60;*/

}

.days-of-week-container {
    margin-bottom: 20px;
    font-weight: 600;
}


.calendar-container div:hover {
    background-color: #fc0000;
    color: rgba(0, 0, 0, 0.76);
    cursor: pointer;

}

.calendar-container div {
    position: relative;
    background: #bfbfbf;
    margin-bottom: 20px;
    border-radius: 10px;


}

span {
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    background: #f0cf60;
}

.data {
    padding: 1px 0 0 25px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background: #bfbfbf;
    color: white;
    margin: 0 auto;
    font-size: 36px;
    position: relative;
}

.btn {
    padding: 15px 90px;
    border-radius: 50px;
    background: #bfbfbf;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    margin: 15px auto;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    /* Цвет при наведении */
    color: black;
}

a:visited {
    /* Цвет посещённой ссылки */
    color: black;
}

a:active {
    /* Цвет ссылки при клике */
    color: black;
}