{% include 'order/includes/inc_order.html' %}

<div class="container nav">
    <div class="admin hvr-wobble-skew">Панель администратора</div>
    <div class="calendar">
        <div class="month_and_year">
            <a class="button" href="{% url 'product:create_date_current_month' %}"><<</a>
            {% if current_month %}
                {{ current_month_title }}
            {% elif next_month %}
                {{ next_month_title }}
            {% endif %}
            <a class="button" href="{% url 'product:create_date_next_month' %}">>></a>
        </div>
        <div class="days-of-week-container">
            <div>ПН</div>
            <div>ВТ</div>
            <div>СР</div>
            <div>ЧТ</div>
            <div>ПТ</div>
            <div>СБ</div>
            <!-- список дней недели -->
            <div>ВС</div>
        </div>
        <div class="calendar-container">
            {% if current_month %}
                {% for week in current_month %}
                    {% for day in week %}
                        <div>
                            {% if day == 0 %}
                                {#                                    <p></p>#}
                            {% else %}
                                <form method="post">
                                    {% csrf_token %}

                                    {% if number_mount < 10 %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-0{{ day }}">{{ day }}</button>

                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% else %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-0{{ day }}">{{ day }}</button>
                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% elif next_month %}
                {% for week in next_month %}
                    {% for day in week %}
                        <div>
                            {% if day == 0 %}
                                {#                                    <p></p>#}
                            {% else %}
                                <form method="post">
                                    {% csrf_token %}
                                    {% if number_mount < 10 %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin"
                                                    name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-0{{ day }}">{{ day }}</button>
                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% else %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-0{{ day }}">{{ day }}</button>
                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="data data-admin">
            <span>
                    {% for date in date_list %}
                        {{ date }},
                    {% endfor %}
                </span>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <nav class="ms-5">
            <div class="nav nav-admin">
                <form method="post">{% csrf_token %}

                    <div class="btn item btn-item">
                        <select class="products" name="half_carcasses" id="container">
                            {% for obj in half_carcasses %}
                                <option value={{ obj.pk }}>{{ obj }}</option>
                            {% endfor %}
                        </select>
                        <input class="span-order-admin" type="text" name="half_carcasses_quantity" placeholder="50">
                    </div>
                    <div class="p-2 btn item btn-item">
                        <select class="products" name="by_product" id="container">
                            {% for obj in by_product %}
                                <option value={{ obj.pk }}>{{ obj }}</option>
                            {% endfor %}
                        </select>
                        <input class="span-order-admin" type="text" name="by_product_quantity" placeholder="30">
                    </div>
                    <button class="btn hvr-shadow hvr-back-pulse" type="submit" name="confirm" value="True">
                        Подтвердить
                    </button>
                </form>
            </div>
        </nav>
    </div>
</div>
{#<a type="button" class="btn" href="{% url 'product:add_product' date_list %}">#}
{#    Подтвердить#}
{#</a>#}
