{% include 'order/includes/inc_order.html' %}

<div class="container nav">
    <div class="admin hvr-wobble-skew">Панель администратора</div>
    <div class="calendar">
        <div class="month_and_year">
            <a class="button" href="{% url 'product:create_date_current_month' %}"><<</a>
            {% if current_month %}
                {{ current_month_title }}
            {% elif next_month %}
                {{ next_month_title }}
            {% endif %}
            <a class="button" href="{% url 'product:create_date_next_month' %}">>></a>
        </div>
        <div class="days-of-week-container">
            <div>ПН</div>
            <div>ВТ</div>
            <div>СР</div>
            <div>ЧТ</div>
            <div>ПТ</div>
            <div>СБ</div>
            <!-- список дней недели -->
            <div>ВС</div>
        </div>
        <div class="calendar-container">
            {% if current_month %}
                {% for week in current_month %}
                    {% for day in week %}
                        <div>
                            {% if day == 0 %}
                                {#                                    <p></p>#}
                            {% else %}
                                <form method="post">
                                    {% csrf_token %}

                                    {% if number_mount < 10 %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-0{{ day }}">{{ day }}</button>

                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% else %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-0{{ day }}">{{ day }}</button>
                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% elif next_month %}
                {% for week in next_month %}
                    {% for day in week %}
                        <div>
                            {% if day == 0 %}
                                {#                                    <p></p>#}
                            {% else %}
                                <form method="post">
                                    {% csrf_token %}
                                    {% if number_mount < 10 %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin"
                                                    name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-0{{ day }}">{{ day }}</button>
                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-0{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% else %}
                                        {% if day < 10 %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-0{{ day }}">{{ day }}</button>
                                        {% else %}
                                            <button type="submit" onclick="submitButtonStyle(this)"
                                                    class="calendar-data btn_admin" name="date"
                                                    value="{% now 'Y' %}-{{ number_mount }}-{{ day }}">{{ day }}</button>
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="data data-admin">
            <span>
                    {% for date in date_list %}
                        {{ date }},
                    {% endfor %}
                </span>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <nav class="ms-5">
            <div class="nav nav-admin">
                <form method="post">{% csrf_token %}
                    <div class="btn item btn-item">
                        <select class="products" name="half_carcasses" id="container">
                            {% for obj in half_carcasses %}
                                <option value={{ obj.pk }}>{{ obj }}</option>
                            {% endfor %}
                        </select>
                        <input class="span-order-admin" type="text" name="half_carcasses_quantity" placeholder="50">
                    </div>
            </div>

            <div class="btn item btn-item">
                <select class="products" name="by_product1" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product1_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product2" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product2_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product3" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product3_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product4" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product4_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product5" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product5_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product6" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product6_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product7" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product7_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product8" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product8_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product9" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product9_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product10" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product10_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product11" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product11_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product12" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product12_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product13" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product13_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product14" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product14_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product15" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product15_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product16" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product16_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product17" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product17_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product18" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product18_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product19" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product19_quantity" placeholder="50">
            </div>
            <div class="btn item btn-item">
                <select class="products" name="by_product20" id="container">
                    {% for bp in by_product %}
                        <option value={{ bp.pk }}>{{ bp }}</option>
                    {% endfor %}
                </select>
                <input class="span-order-admin" type="text" name="by_product20_quantity" placeholder="50">
            </div>
            <button class="btn hvr-shadow hvr-back-pulse" type="submit" name="confirm" value="True">
                Подтвердить
            </button>
            </form>
        </nav>
    </div>
</div>
{#<a type="button" class="btn" href="{% url 'product:add_product' date_list %}">#}
{#    Подтвердить#}
{#</a>#}
