{% load static %}
{% include 'order/includes/inc_order.html' %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <div class="admin">Панель администратора</div>
        <div class="nav">
            <a class="menu p-2 btn btn-outline-primary" href="{% url 'product:add_norm_to_day' %}">Установка нормы на
                день</a>
            <a class="menu p-2 btn btn-outline-primary" href="{% url 'product:date_list' %}">Установка нормы на
                месяц</a>
            <a class="menu p-2 btn btn-outline-primary" href="{% url 'order:home' %}">Контакты</a>
        </div>
    </nav>
</div>