{% extends 'order/base.html' %}
{% block content %}
    {% include 'order/includes/inc_order.html' %}
    <div class="container">
        <div class="calendar">

            <div class="month_and_year">
                <a class="button" href="{% url 'product:current_month' %}"><<</a>
                {% if current_month %}
                    {{ current_month_title }}
                {% elif next_month %}
                    {{ next_month_title }}
                {% endif %}
                <a class="button" href="{% url 'product:next_month' %}">>></a>
            </div>
            <div class="days-of-week-container">
                <div>ПН</div>
                <div>ВТ</div>
                <div>СР</div>
                <div>ЧТ</div>
                <div>ПТ</div>
                <div>СБ</div>
                <!-- список дней недели -->
                <div>ВС</div>
            </div>
            <div class="calendar-container">
                {% if current_month %}
                    {% for week in current_month %}
                        {% for day in week %}
                            <div>
                                {% if day == 0 %}
                                    <p></p>
                                {% else %}
                                    <p>{{ day }}</p>
                                    <p></p>
                                {% endif %}
                                {% for object in object_list %}
                                    {% if object.date.month == number_mount %}
                                        {% if object.date.day == day %}
                                            <a href="{% url 'product:detect_date' object.pk %}">
                                                <span>{{ object.half_carcasses_quantity }}</span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% elif next_month %}
                    {% for week in next_month %}
                        {% for day in week %}
                            <div>
                                {% if day == 0 %}
                                    <p></p>
                                {% else %}
                                    <p>{{ day }}</p>
                                {% endif %}
                                {% for object in object_list %}
                                    {% if object.date.month == number_mount %}
                                        {% if object.date.day == day %}
                                            <a href="{% url 'product:detect_date' object.pk %}">
                                                <span>{{ object.half_carcasses_quantity }}</span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="calendar">
    </div>
    {% if object %}
        <div class="data">
            <p>{{ object.date.day }}</p>
            <span>{{ object.half_carcasses_quantity }}</span>
        </div>
        <a class="button" href="{% url 'order:order_create' object.pk %}">Подтвердить</a>
    {% else %}
        <div class="data">
            <p></p>
            <span></span>
        </div>
    {% endif %}

{% endblock %}