{% include 'order/includes/inc_order.html' %}

<div class="container nav pb-0">
    <div class="info-block btn">
        <div class="info-span">
            40
        </div>
        доступное количество продукта на выбранную дату
    </div>
    <div class="calendar">
        <div class="month_and_year">
            <a class="button" href="{% url 'product:current_month' %}"><<</a>
            {% if current_month %}
                {{ current_month_title }}
            {% elif next_month %}
                {{ next_month_title }}
            {% endif %}
            <a class="button" href="{% url 'product:next_month' %}">>></a>
        </div>
        <div class="days-of-week-container">
            <div>ПН</div>
            <div>ВТ</div>
            <div>СР</div>
            <div>ЧТ</div>
            <div>ПТ</div>
            <div>СБ</div>
            <!-- список дней недели -->
            <div>ВС</div>
        </div>
        <div class="calendar-container">
            {% if current_month %}
                {% for week in current_month %}
                    {% for day in week %}
                        <div>
                            {% if day == 0 %}
                                {#                                    <p></p>#}
                            {% else %}
                                <div type="submit" class="calendar-data">{{ day }}</div>
                                <span class="span calendar-span-order"></span>
                            {% endif %}
                            {% for object in object_list %}
                                {% if object.date.month == number_mount %}
                                    {% if object.date.day == day %}
                                        <a href="{% url 'product:detect_date_current' object.pk %}">
                                            <span class="span calendar-span-order">{{ object.half_carcasses_quantity }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% elif next_month %}
                {% for week in next_month %}
                    {% for day in week %}
                        <div class="block__row">
                            {% if day == 0 %}
                                {#                                    <p></p>#}
                            {% else %}
                                <a href=""><div id="button" type="submit" class="calendar-data">{{ day }}</div></a>
                                <span class="span calendar-span-order"></span>
                            {% endif %}
                            {% for object in object_list %}
                                {% if object.date.month == number_mount %}
                                    {% if object.date.day == day %}
                                        <a href="{% url 'product:detect_date_next' object.pk %}">
                                            <span class="span calendar-span-order">{{ object.half_carcasses_quantity }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<a class="p-2 btn hvr-shadow hvr-back-pulse" href="{% url 'order:home' %}">
    Назад
</a>
<div class="data">
    {% if object %}
        <p class="data-order">{{ object.date.day }}</p>
        <span class="span span-order">{{ object.half_carcasses_quantity }}</span>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <form method="post">
                {% csrf_token %}
                <nav class="ms-5">
                    <div class="nav">
                        <div class="p-2 btn item item-last">
                            {{ object.half_carcasses }}
                            <input class="span-order-admin" type="text" name='half_carcasses_quantity'
                                   placeholder="max {{ object.half_carcasses_quantity }}">
                        </div>
                        {% for bp in by_product_items %}
                            <div class="p-2 btn item item-last">
                                {{ bp.by_product }}
                                <input class="span-order-admin" type="text" name='{{ bp.by_product.title }}' placeholder="max {{ bp.quantity }}" >
                            </div>
                        {% endfor %}
                        <div class="">
                            <input class="item info-text" type="text" name='description'
                                   placeholder="Заметки к заказу">
                        </div>
                        <button class="btn hvr-shadow hvr-back-pulse" name="date" value='{{ object.pk }}'>
                            Заказать
                        </button>
                    </div>
                </nav>
            </form>
        </div>
    {% endif %}