<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
    <!--    <link rel="stylesheet" href="css/adaptive.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <div class="nav">
            <div class="p-2 btn item">
                Полутуша - 230р
                <span> - 40 + </span>
            </div>
            <div class="p-2 btn item">Ноги - 70р
                <span> - 20 + </span>
            </div>
            <div class="p-2 btn item">
                Легкое - 90р
                <span> - 25 + </span>
            </div>
            <div class="p-2 btn item">
                Печень - 160р
                <span> - 50 + </span>
            </div>
            <div class="p-2 btn item">
                Селезёнка - 145р
                <span> - 50 + </span>
            </div>
            <div class="p-2 btn item item-last">
                Хвосты - 275р
                <span> - 35 + </span>
            </div>
            <a class="btn" href="#">
                Подтвердить
            </a>
        </div>
    </nav>
</div>

</body>
</html>