{% include 'order/includes/inc_order.html' %}

{% block content %}
<div class="container nav pt-4">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6 info">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-2">
                        Регистрация
                    </h2>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn hvr-shadow hvr-back-pulse">Регистрация</button>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </form>
</div>
    <a class="p-2 btn hvr-shadow hvr-back-pulse" href="{% url 'order:home' %}">На главную</a>
{% endblock %}