{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Боровково</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/style.css' %}>
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">#}
{#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
</head>
<body>
{% include 'order/includes/inc_order.html' %}
{% block content %}
{% endblock %}
<script src={% static 'js/main.js' %}></script>
</body>
</html>
