{% include 'order/includes/inc_order.html' %}
<div class="container">
    <div class="info nav w-map">
        <h4 class="info-title info-contacts item-last">
            Контакты
        </h4>
        <div class="map item-last">
            <div class="info-grid">
                <h5 class="map-text">Телефон:</h5>
                <span class="map-title">+7-951-555-55-55</span>
            </div>
            <div class="info-grid">
                <h5 class="map-text">Ежедневно:</h5>
                <span class="map-title">c 09:00 по 20:00</span>
            </div>
        </div>
        <h6 class="map-text">
            Оптовые закупки: с 16:00 - 17:00
        </h6>
    </div>
    <div class="map-card">
        <a class="dg-widget-link"
           href="http://2gis.ru/novokuznetsk/firm/70000001076196316/center/86.89170598983765,54.04323859550922/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
            на карте Новокузнецка</a>
        <div class="dg-widget-link"><a
                href="http://2gis.ru/novokuznetsk/firm/70000001076196316/photos/70000001076196316/center/86.89170598983765,54.04323859550922/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
            компании</a></div>
        <div class="dg-widget-link"><a
                href="http://2gis.ru/novokuznetsk/center/86.891706,54.042566/zoom/16/routeTab/rsType/bus/to/86.891706,54.042566╎Боровково, Мясной магазин?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
            проезд до Боровково, Мясной магазин</a></div>
        <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
        <script charset="utf-8">new DGWidgetLoader({
            "width": 250,
            "height": 200,
            "borderColor": "#a3a3a3",
            "pos": {"lat": 54.04323859550922, "lon": 86.89170598983765, "zoom": 16},
            "opt": {"city": "novokuznetsk"},
            "org": [{"id": "70000001076196316"}]
        });</script>
        <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в
            настройках вашего браузера.
        </noscript>

    </div>
    <a class="p-2 btn hvr-shadow hvr-back-pulse" href="{% url 'order:home' %}"> На главную</a>
</div>
