{% include 'order/includes/inc_order.html' %}
{% block content %}
    <div class="container">
        <div class="col-12 mb-5 nav">
            <a class='btn btn-outline-primary' href="{% url 'product:date_list' %}">Cоздать заказ</a>
        </div>
        <div class="row text-center ">
            {% for object in object_list %}
                <div class="col-6 info footer-info">
                    <div class="card-title mb-4 shadow-sm">
                        {% if object.status == 'accepted' %}
                            <h4 class="info-title"> Принят в работу</h4>
                        {% elif object.status == 'completed' %}
                            <h4 class="info-title">Исполнено</h4>
                        {% elif object.status == 'cancel' %}
                            <h4 class="info-title">Заказ отменен</h4>
                        {% endif %}
                        <span class="my-0 font-weight-normal info-title-date">дата: {{ object.date.date }} </span>
                    </div>
                    <div class="card-body mb-4 box-shadow">
                        <div class="info-grid">
                            <h6>({{ object.date.half_carcasses }}) - {{ object.half_carcasses_quantity }}кг</h6>
                            <h6>({{ object.date.by_product }}) - {{ object.by_product_quantity }}кг </h6>
                        </div>
                        <h6 class="card-title">Описание заказа: {{ object.description }}</h6>
                        <h6 class="text-muted card-title">Заказчик
                            : {{ object.user.first_name }} {{ object.user.last_name }}
                        </h6>
                        <h6>
                            Телефон - {{ object.user.phone }}
                        </h6>
                    </div>
                    <div class="card-footer">
                        <a class="p-2 btn btn-info btn-outline-primary" href="{% url 'order:order_delete' object.pk %}">Отменить
                            заказ</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
