{% include 'order/includes/inc_order.html' %}
<div class="container">
    <div class="col-12 mb-5 nav">
        <a class='btn hvr-shadow hvr-back-pulse' href="{% url 'product:date_list' %}">Cоздать заказ</a>
    </div>
    <div class="row text-center nav" id="blockNone">
        <div class="col-6 info footer-info mb-2">
            <div class="card-title mb-4 shadow-sm">
                {% if object.status == 'accepted' %}
                    <h4 class="info-title"> Принят в работу</h4>
                {% elif object.status == 'completed' %}
                    <h4 class="info-title">Исполнено</h4>
                {% elif object.status == 'cancel' %}
                    <h4 class="info-title">Заказ отменен</h4>
                {% endif %}
                <span class="my-0 font-weight-normal info-title-date">дата: {{ object.date.date }} </span>
            </div>
            <div class="card-body mb-4 box-shadow">
                <div class="info-grid">
                    <h5>{{ object.date.half_carcasses }}- {{ object.half_carcasses_quantity }}кг</h5>
                    {% if bp_orders.count == 0 %}
                    {% else %}
                        {% for bp in bp_orders %}
                            <h5>{{ bp.by_product.title }} - {{ bp.quantity }}</h5>
                        {% endfor %}
                    {% endif %}
                </div>
                <h5 class="card-title">Описание заказа: {{ object.description| truncatechars:50 }}</h5>
                <h5 class="text-muted card-title">Заказчик
                    : {{ object.user.first_name }} {{ object.user.last_name }}
                </h5>
                <h5>
                    Телефон - {{ object.user.phone }}
                </h5>

                <div class="card-footer">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="p-2 btn btn-info hvr-shadow hvr-back-pulse" name="cancel"
                                value="cancel">
                            Отменить
                        </button>
                    </form>
                </div>

            </div>
        </div>
        <a class="p-2 btn hvr-shadow hvr-back-pulse" href="{% url 'order:home' %}"> На главную</a>
    </div>
</div>