{% include 'order/includes/inc_order.html' %}

{% block content %}
    <div class="container">
        <div class="col-12 mb-5 w-300">
            <a class='btn hvr-shadow hvr-back-pulse' href="{% url 'product:date_list' %}">Cоздать заказ</a>
        </div>
        <div class="row text-center w-300" id="blockNone">
            {% for object in object_list %}
                {% if object.date.date >= now %}
                    <div class="col-6 info footer-info mb-2">
                        <div class="card-title mb-4 shadow-sm">
                            {% if object.status == 'accepted' %}
                                <h4 class="info-title"> Принят в работу</h4>
                            {% elif object.status == 'completed' %}
                                <h4 class="info-title">Исполнено</h4>
                            {% elif object.status == 'cancel' %}
                                <h4 class="info-title">Заказ отменен</h4>
                            {% endif %}
                            <span class="my-0 font-weight-normal info-title-date">дата: {{ object.date.date }} </span>
                        </div>
                        <div class="card-body mb-4 box-shadow">
                            <div class="info-grid">
                                <h5>{{ object.date.half_carcasses }}- {{ object.half_carcasses_quantity }}кг</h5>
                                {% if bp_orders.count == 0 %}
                                {% else %}
                                    {% for bp in bp_orders %}
                                        {% if bp.by_product.kg is True %}
                                            {% if bp.order.pk == object.pk %}
                                                <h5>{{ bp.by_product }} - {{ bp.quantity }}шт </h5>
                                            {% endif %}
                                        {% else %}
                                            {% if bp.order.pk == object.pk %}
                                                <h5>{{ bp.by_product }} - {{ bp.quantity }}шт </h5>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                            </div>
                            <h5 class="card-title">Описание заказа: {{ object.description| truncatechars:50 }}</h5>
                            <h5 class="text-muted card-title">Заказчик
                                : {{ object.user.first_name }} {{ object.user.last_name }}
                            </h5>
                            <h5>
                                Телефон - {{ object.user.phone }}
                            </h5>
                        </div>
                        {% if object.status == 'cancel' %}

                        {% else %}
                            {% if object.cancel_date == now or object.date.date == now %}
                                <div class="card-footer">
                                    <a class="p-2 btn btn-info hvr-shadow hvr-back-pulse"
                                       id="delete">
                                        Отменить заказ
                                    </a>
                                </div>
                            {% else %}
                                <div class="card-footer">
                                    <a class="p-2 btn btn-info hvr-shadow hvr-back-pulse"
                                       href="{% url 'order:cancel_order' object.pk %}">
                                        Отменить заказ
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <a class="p-2 btn hvr-shadow hvr-back-pulse" href="{% url 'order:home' %}"> На главную</a>
        </div>
    </div>

    <div class="container nav">
        <div class="info d-none" id="dNone">
            <div class="col-lg-6 col-md-8 col-7 text-center">
                <div class="">
                    <h4 class="info-title card-title w-100">Заказ принят</h4>
                    <h5 class="card-title">Мясная продукция на вас уже заказана,
                        удалить возможно лишь за 24 часа до
                        поставки.</h5>
                    <h5 class="card-title">Просьба связать по номеру:</h5>
                    <h4 class="card-title">+7-951-555-55-55</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}